<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cc.shuozi.uidesign">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:grantUriPermissions="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        android:usesCleartextTraffic="true">
        <meta-data android:name="android.webkit.WebView.EnableSafeBrowsing"
            android:value="false" />
        <uses-library android:name="org.apache.http.legacy" android:required="false"/>
        <activity
            android:name=".Browerrss"
            android:exported="false" />
        <activity
            android:name=".rss_feed"
            android:exported="false" />
        <activity
            android:name=".rss_main"
            android:exported="false" />
        <activity android:name=".exportdata" />
        <activity android:name=".add_goal" />
        <activity android:name=".symptoms_goal" />
        <activity android:name=".diet_information" />
        <activity android:name=".event_selection" />

        <receiver
            android:name=".RingReceived"
            android:exported="false"
            android:process=":remote">
            <intent-filter>
                <action android:name="cc.shuozi.uidesign.Ring" />
            </intent-filter>
        </receiver>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="cc.shuozi.uidesign.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <activity android:name=".RingActivity" />
        <activity android:name=".alarm_information" />
        <activity android:name=".decision_making" />
        <activity android:name=".Implementation" />
        <activity android:name=".ongoing_main_menu" />
        <activity android:name=".information" />
        <activity android:name=".doctor_information" />
        <activity android:name=".pre_information" />
        <activity android:name=".Setting" />
        <activity android:name=".MainMenu" />
        <activity android:name=".DataBase" />
        <activity android:name=".signup" />
        <activity android:name=".Login" />
        <activity android:name=".data_education" />
        <activity android:name=".health_video" />
        <activity
            android:name=".watch_video"
            android:screenOrientation="landscape" /> <!-- android:configChanges="orientation|screenSize" -->
        <activity android:name=".MainActivity" />
        <activity
            android:name=".onboarding"
            android:noHistory="true" />
        <activity
            android:name=".Splash_screen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>